@import 'tailwindcss';
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

:root {
  --background: #ffffff;
  --color-primary: #0b2034;
  --color-primary-hover: #06101a;
  --color-secondary: #44c6be;
  --color-secondary-hover: #22635f;
  --color-text: #cfcfcf;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #0b2034;
  --color-primary-hover: #06101a;
  --color-secondary: #44c6be;
  --color-secondary-hover: #22635f;
  --color-text: #cfcfcf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #06101a;
  }
}

body {
  background: var(--background);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}
