name: CI

on:
  push:
    branches: ['main', 'dev']
  pull_request:
    branches: ['main', 'dev']

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Code Quality

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
      
      - name: Install commitlint
        run: npm install -g @commitlint/cli @commitlint/config-conventional

      - name: Create commitlint config
        run: |
          echo "extends: ['@commitlint/config-conventional']" > .commitlintrc.yaml
      
      - name: Validate all commit
        run: |
          npx commitlint --from ${{ github.event.pull_request.head.sha }}~1 --to ${{github.event.pull_request.head.sha}} 

      - name: Install Prettier
        run: npm install -g prettier

      - name: Create .prettierrc
        run: |
          echo '{
            'singleQuote': true,
            'trailingComma': 'all',
            'semi': true,
            'printWidth': 120,
            'tabWidth': 2,
            'endOfLine': 'auto'
          }' > .prettierrc

      - name: Create .prettierignore
        run: |
          echo 'node_modules\nbuild\ndist\n' > .prettierignore

      - name: Run Prettier and show formatting diffs
        run: |
          prettier '**/*.{css,scss,yaml,yml,ts,js,jsx,tsx,json,md}' --write
          git diff --color --exit-code
